# Production dependencies
Pillow==12.1.1
pandas==3.0.1
pyyaml==6.0.3
openpyxl==3.1.5
pyarrow==23.0.1
lxml==6.0.2
odfpy==1.4.1
xlrd==2.0.2
cairosvg==2.8.2
fastapi==0.129.0
python-multipart==0.0.22
python-magic==0.4.27
pydantic-settings==2.13.0
pillow_heif==1.2.1
pillow-avif-plugin==1.5.5
pillow-jxl-plugin==1.3.7
uvicorn==0.41.0
pypandoc==1.16.2
weasyprint==68.1
PyMuPDF==1.25.5
pymupdf4llm==0.0.17
markdown==3.8.1
pysubs2==1.8.0
fonttools==4.61.1
brotli==1.2.0