name: Simple Pre-Merge Checks

on: 
  pull_request:
    branches:
      - main

jobs:
   simple-checks:
     runs-on: ubuntu-latest
     steps:
        - name: Checkout Repository
          uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
          with:
            persist-credentials: false
        
        - name: Test Build Frontend
          run: |
            cd ${{ github.workspace }}/frontend
            npm install
            npm run build
            cd ${{ github.workspace }}

